body {
    margin: 0;
}

.topnav {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 50px;
    padding: 40px;
    box-shadow: 2px 2px 20px 10px hotpink inset;
    display: flex;
    justify-content: space-between;
}

.ToDo {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    color: greenyellow;
    cursor: pointer;
    width: 100px;
}

.contact {
    margin: 0;
    color: hotpink;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
}

.logIn {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    font-family: cursive;
    color: greenyellow;
}

.button {
    cursor: pointer;
}

.logOutButton {
    cursor: pointer;
    margin: 20px;
}

#main {
    margin: 50px;
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 340px;
    font-size: 30px;
}

a {
    margin: 0;
    font-size: 20px;
    cursor: pointer;
    text-decoration-line: none;
}

p {
    margin: 0;
    font-size: 30px;
    font-family: cursive;
    color: greenyellow;
}

.li {
    font-size: 20px;
}

.ol {
    padding: 20px;
}

.container {
    margin: 0;
}

.contact-page {
    background-color: black;
    color: white;
    margin-left: 30px;
}

.back {
    color: white;
    margin-left: 30px;
}

.footer {
    background-color: black;
    padding: 40px;
    box-shadow: 2px 2px 20px 10px hotpink inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: bold;
    font-family: cursive;
    color: greenyellow;
}